    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Puesco Fest">
    <meta name="author" content="">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- font-family: 'Open Sans', sans-serif;  -->

    <!-- Custom styles for this template -->
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    
    <!-- FAVICON-->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png" />

    <!-- TODO: Facebook and Twitter Logos-->
