.paral {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
.paralsec {
    background-image: url("/images/para1-test.jpg");
}
.paralsec2 {
    background-image: url("/images/milkyway.jpg");
}
.smallnav{
    font-size: 0.75em;
}