
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
}

.first-section {
    background: url("/images/header1-all-2.jpg");
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.second-section {
    padding: 130px 0px 80px;
    background-image: url(/images/BACKGROUND_WOOD.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.second-section iframe {
    width: 100%;
    height: 420px;
}

.about-section {
    background-color: #3F273C;
    padding: 80px 0px;
    background-image: url(landing_febrero/BG_ABOUT.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
}


.navbar-default {
    background: #f4efd0;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}



.navbar-default .navbar-nav.navbar-right li a {
    font-size: 12px;
    padding: 16px 2px;
    font-family: "Abel";
    text-transform: uppercase;
}


nav.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    box-shadow: 5px 1px 16px rgba(0,0,0,0.2);
}

