<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} {{ else }} {{ .Site.Title }} {{ end }}
        {{ end }}</title>

        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body id="page-top" class="bg-teal-700" >
    
        {{ block "main" . }}{{ end }}
        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
    </body>
</html>