<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <h1 class="main-title">Puesco Fest</h1>

            <div class="col-sm-6 nopadding">
            <p><strong> Puescofest es una Celebración por los Ríos Libres del Mundo
                </strong></p> 
            <p>Promovemos el cuidado del territorio ancestral donde nos encontramos en Puesco, Curarrehue, Chile. </p>
                <p>
                        Invitamos al espectador a sumergirse en la vibración del agua, afluente, abundante, sonora, nutritiva, limpiadora y viajera de los causes de La Tierra en esta celebración por los Ríos Libres.             
                <p>
                        En este vibrar sonoro podemos experimentar el sueño en ese incesante movimiento del río que a la vez refleja el universo.
                                   
                <p>
                        Sueño que no solo es dormir, es ensoñar una realidad como un propósito a concretar. Donde las tejedoras en los “atrapasueños” canalizan a través de su geometría sagrada y trasmiten sanación en cada punto que trazan.
               
                <p >
                        Las formas fluyen entre los colores cielo, agua y fuego siendo inevitable la presencia del verde y los marrones donde la naturaleza es nuestra directora artística.

                </p>
            </div>  

                <div class="col-sm-6 ">
                    <div id="mainSlider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {{ with .Resources.Match "tall*" }}
                            {{ $.Scratch.Set "count" 0 }}
                            {{ range . }}
                            {{ if hasPrefix .Name "tall"}}
                                {{ if eq ($.Scratch.Get "count") 0}}  
                                    <div class='item active'>
                                {{else}}
                                    <div class='item'>
                                {{end}}   
                                {{ $imageResized := (.Fill "450x680") }} 
                                <img  class="d-block w-100 center-block" src="{{ $imageResized.RelPermalink }}" > 
                                </div>
                                {{ $.Scratch.Add "count" 1 }}
                            {{end}} 
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <br>
                 <div class="col-sm-6 hidemobile"> 
                     <br>   
                        <div id="Slider2" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner" role="listbox">
                                    {{ with .Resources.Match "sobre*" }}
                                        {{ $.Scratch.Set "count" 0 }}
                                        {{ range . }}
                                            {{ if eq ($.Scratch.Get "count") 0}}  
                                                <div class='item active'>
                                            {{else}}
                                                <div class='item'>
                                            {{end}}   
                                            {{ $imageResized := (.Fill "600x480") }} 
                                                <img  class="d-block w-100 center-block" src="{{ $imageResized.RelPermalink }}" alt="Slider image {{.Name  }}"> 
                                                </div>
                                            {{ $.Scratch.Add "count" 1 }}
                                        {{ end }}
                                    {{ end }}
                    
                                </div>
                            </div> 
                    
                </div>
                
                <div class="col-sm-6">
                    <br>
                    <p>
                            Este 2018 se cumple el V Aniversario de PuescoFest, que durante estos 4 días y 3 noches incentivamos el autocuidado y la contemplación creando ambientes de descanso y recreación para sus visitantes junto a una cartelera de más de 20 artistas musicales, una competencia internacional de kayak, camping en un lugar de abundancia natural, cocinería local y consciente, talleres recreativos y para el desarrollo personal, conversatorios inspirados en la filosofía del Küme Mognen (Buen Vivir en Mapudungun), danza para enfocar energía y concentración en el momento presente, arte para expandir nuestro ser interno, yoga para unir nuestro cuerpo y alma, entre otras actividades.
                            


                    </p>    
                </div>
                
            </div>
        </div>
    </div> 
</div>