<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="col-sm-6">
            <h1 class="main-title">Sobre</h1>
            <p><strong> Puescofest es una celebracion por los rios del mundo</strong></p> 
            <p>Promovemos el cuidado del territorio ancestral donde nos encontramos en
                Puesco, Curarrehue, Chile. </p>
                <p> Luchamos por la defensa del territorio y también celebramos la conservación de este hermoso lugar. </p>
                <p> Este 2018 se cumple el V Aniversario de PuescoFest, durante estos 4 días y 3 noches ofrecemos: camping, competencias internacionales de kayak, música en vivo, cocinerías locales, artesanías, exposición de iniciativas y problemáticas medioambientales, talleres y conversatorios inspirados en la filosofía del Küme Mognen “ Buen Vivir” en Mapudungun,
                    actividades familiares, arte, danza, ofrendas, terapias naturales, yoga y más! </p>
            </div>
            <div class="col-sm-6">
                    <img class="img-responsive" src="/images/puescofest-sobre1.jpg" alt="sobre puescofest">
                    <br>
                    <br>

                    <img class="img-responsive" src="/images/puescofest-sobre2.jpg" alt="sobre puescofest 2">
                    <br>
                    <br>

                    <img class="img-responsive" src="/images/puescofest-sobre3.jpg" alt="sobre puescofest 3">


            </div>
        </div>
    </div> 
</div>