<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-title">Buen Vivir</h1>

            <h4 class="sub-title">KÜME MOGNEN (BUEN VIVIR)</h4>

<p>
        Queremos Cuidar el Medio Ambiente, creemos que imperante utilizar las mejores practicas Eco Sustentables para una armoniosa relación con el territorio. 
        Sabemos que el montaje y la realización del festival es un impacto para todo el habitad que lo compone.
        Proponemos amables formas para estos 4 días de Celebración a continuación:

</p>
  

<div class="col-sm-6 no-gutter nopadding">

        <h4 class="sub-title-smaller">CONVIVENCIA TERRITORIAL</h4>
        <h5><strong>SALUDO A LOS PODERES </strong></h5>
        <p>
                Entrando a un territorio biodiverso puede uno escuchar como pájaros, insectos y otros animales se comunican y hacen eco de nuestro ingreso al territorio. 
                Tomar atención a sus manifestaciones es fundamental. Para ello es necesario abandonar el dialogo mental y afinar el oído. En la biodiversidad cada linaje guarda estrecha relación con un poder, Ngen, espíritu o como prefiera llamarle.    
        </p>
        <br>

        <h5><strong>LA TIENDA O CARPA </strong></h5>
        <p>
                Si tu intención es instalar una tienda o carpa en el cual pasar la noche, aconsejamos que te instales en un terreno ya erosionado por anteriores instalaciones humanas. 
                Los Residuos Humanos deben ir directo a sus separadores para Reciclaje.

        </p>
        <br>
        <h5><strong>DESECHOS</strong></h5>
        <p>
                En la naturaleza salvaje no existen desechos. El “desecho” de uno es el “provecho” de otro, formándose una compleja trama de cooperación, retribución, intercambio y regalo. Nada se desperdicia en la sobreabundancia del bosque y las riveras.

        </p>
       


</div>
<div class="col-sm-6">
        {{ with .Resources.Match "buen*" }}

            {{ range . }}       
                {{ $imageResized := (.Fill "550x366") }} 
                <img  class="img-responsive" src="{{ $imageResized.RelPermalink }}" alt=" image {{.Name  }}"/> 
                <br>
                <br>
            {{end}} 
      {{ end }}
    
</div>








        </div>
    </div>
</div>