<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-title">Buen Vivir</h1>

            <h4 class="sub-title">KÜME MOGNEN (BUEN VIVIR)</h1>

            

            <h3> Talleres & Conversatorios
                </h3>
            <ul>
               <li>
                    Medioambiente: Desarrollo a Escala Humana del Ecoturismo
                </li>
                <li>
                    Cosmovisión: Reconocimiento y Territorio
                </li>
                <li>Agroecología: Compostaje y Permacultura
                    </li>
                <li>Expresión & Movimiento: Biodanza y Danza Afro
                    </li>
                    <li> Circo “Auka Tribu Magixx”</li>
<li> Show Diurnos y Nocturnos</li>
<li> Slackline</li>
<li> Acrobacias</li>
<li> Juguetes</li>
<li> Talleres</li>
            </ul>
            <h3> Bienestar
                </h3>
<ul>
    <li>
            Ceremonia del fuego Mexica: Danza a los Elementos.
    </li>
    <li>
            Jueves: Ceremonia de Apertura.
    </li>
    <li>
            Viernes y Sabado: Taller de Danza Mexica.
    </li>
    <li> Domingo: Ceremonia de Cierre.
        </li>
</ul>
<h3>Yoga</h3>
<ul>
    <li>Viernes / Sábado / Domingo</li>
    <li>10am: Escenario Sol Antü         </li>
    <li>6pm: Escenario Luna Küyen         </li>
</ul>

<h3>Meditación</h3>
<ul>
<li>
Jueves y Domingo.
</li>
<li> 
 Previo a Yoga.
</li>
</ul>
<h3>
Masajes y Terapias
</h3>
<li>Para disrutar y sanar de manera holística</li>
<li>Todos los días. Desde las 11am hasta las 5pm. </li>
<li>Costo mínimo,  Aporte Voluntario y/o Trueque. </li>
<li>Traer Efectivo</li>

<h3>Zonas de Encuentro</h3>
<ul>
    <li> 
            ESPACIOS HABILITADOS CON SOMBRA, AGUA, APOYO Y PRIMEROS AUXILIOS

    </li>
</ul>

<h3>Family Zone    </h3>
<ul>
        <li>Lugar de Encuentro para las familias.</li>
        <li>Talleres recreatios, PintaCaritas y Sorpresas.</li>
</ul>

<h3> Safe Zone</h3> 
<ul> 
<li>Lugar de Encuentro para Resguardo Comunitario
    </li>
<li>Monitores al Servicio
    </li>
</ul>

<h3> Puntos Limpios</h3>
<ul>
    <li>REDUCE TUS DESECHOS
        </li>
    <li>HAZTE CARGO
        </li>
    <li>RECICLAJE</li>
    <li>EDUCACIÓN AMBIENTAL
        </li>
</ul>
        </div>
    </div>
</div>