<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-title">Buen Vivir</h1>

            <h4 class="sub-title">KÜME MOGNEN (BUEN VIVIR)</h1>

            

            <h3> Talleres & Conversatorios
                </h3>
            <ul>
               <li>
                    Medioambiente: Desarrollo a Escala Humana del Ecoturismo
                </li>
                <li>
                    Cosmovisión: Reconocimiento y Territorio
                </li>
                <li>Agroecología: Compostaje y Permacultura
                    </li>
                <li>Expresión & Movimiento: Biodanza y Danza Afro
                    </li>
            </ul>


Circo “Auka Tribu Magixx”
Show Diurnos y Nocturnos
Slackline
Acrobacias
Juguetes
Talleres

Bienestar
Ceremonia del fuego Mexica: Danza a los Elementos.
Jueves: Ceremonia de Apertura.
Viernes y Sabado: Taller de Danza Mexica.
Domingo: Ceremonia de Cierre.
Yoga: Viernes / Sábado / Domingo

10am: Escenario Sol Antü
6pm: Escenario Luna Küyen

Meditación: Jueves y Domingo.
Previo a Yoga.
Masajes y Terapias: Para disrutar y sanar de manera holística

Todos los días. Desde las 11am hasta las 5pm.
Costo mínimo,  Aporte Voluntario y/o Trueque.
Traer Efectivo

Zonas de Encuentro
ESPACIOS HABILITADOS CON
SOMBRA, AGUA, APOYO Y PRIMEROS AUXILIOS

Family Zone
Lugar de Encuentro para las familias.
Talleres recreatios, PintaCaritas y Sorpresas.

Safe Zone 
Lugar de Encuentro para Resguardo Comunitario
Monitores al Servicio

Puntos Limpios
REDUCE TUS DESECHOS
HAZTE CARGO
RECICLAJE
EDUCACIÓN AMBIENTAL


        </div>
    </div>
</div>