<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-title">Camping</h1>
            <h4 class="sub-title">ZONAS DE CAMPING</h4>
            <ul>
                <li>Habilitados con baños secos y agua potable </li>
    
            </ul>

            <h4 class="sub-title">CAMPING GENERAL</h4>
<ul>
        <li>Habilitado alrededor de las actividades, cercano a la fiesta        </li>
        <li>Sin horario            </li>
        <li>Capacidad máxima 300 carpas         </li>
    </ul>

    <h4 class="sub-title">CAMPING FAMILIAR </h4>

<ul>
    <li>Habilitado en Ex Camping General, alejado de la fiesta  </li>
    <li>Horario Tranquilo/Silencioso desde las 00:00 hasta las 8:00 horas</li>
    <li>Capacidad máxima 400 carpas    </li>
</ul>

<h4 >La Organización se reserva el derecho de ingreso y permanencia;</h4>
<ul>
    <li>Prohibido ingresar bebidas alcohólicas
        </li>
    <li>Hacer fuego sólo en lugares habilitados
        </li>
    <li>Prohibido extraer leña
        </li>
    <li>No se admiten Mascotas
        </li>
    <li>Basura Cero / No Deje Rastro
        </li>
    <li>Respeta el entorno
        </li>
    <li>Tolerancia Cero a cualquier tipo de abuso
        </li>
    <li>Se prohibe la venta ambulante
        </li>
    <li>La seguridad es responsabilidad de todos 
        </li>
</ul>

        </div>
    </div>
</div>