<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-title"> Como Llegar </h1>
            <img class="img-responsive" src="/images/mapa-como-llegar.jpg" alt="Puesco Fest Como Llegar">

            <br> 

            

            <h3>BUSES DE ACERCAMIENTO</h3>
            <ul>
                <li>37 km Pucón – Curarrehue: Mini Buses saliendo cruzando la calle de buses Pullman Pucón, calle Palguin. ($1200)</li>
                <li>18 km Curarrehue – Puesco: Pronto más info!</li>
            </ul>

            <h3>ESTACIONAMENTO</h3>
            <ul>
                <li>
                        Se puede estacionar paralelo a la ruta a los costados del Camino Internacional 199
                </li>
                <li>
                        Por favor dejen libres las entradas de los campos de los vecinos
                </li> 
                <li>
                        Se prohibe el ingreso de vehiculos al espacio del festival
                </li>
                <li>
                        PuescoFest no nos hacemos responsables por perdidas ocasionadas en los vehiculos asi como danos sufridos en los mismos por robo, accidente o eventos de fuerza mayor
                </li> 
            </ul>
            
            <h3>Google Map</h3>
                <a href="https://www.google.com/maps/@-39.510704,-71.542187,17z?hl=es-ES">
                    <img class="img-responsive center-block" src="/images/google-map.jpg" alt="Google Map">
                </a>
        </div>
    </div>
</div>