<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-titleb"> Como Llegar </h1>
            <img class="img-responsive" src="/images/mapa-como-llegar.jpg" alt="Puesco Fest Como Llegar">

            <br> 

            

            <h3>BUSES DE ACERCAMIENTO</h3>
            <h4>
                37 km Pucón – Curarrehue:  ($1.200 CLP)</h4> <p> Mini Buses saliendo cruzando la calle de buses Pullman Pucón, calle Palguin.</p>
                <h4>18 km Curarrehue – Puesco: ($1.500 CLP)</h4>  
                <p>Horario oficial de buses Curarrehue-Puesco: </p>
                   <h4>Jueves 22</h4>
                    <ul>
                    <li> 14:00 horas</li>
                    <li> 19:00 horas</li></ul>
                    <h4> Viernes 23 y sábado 24</h4>
                    <ul> <li> 10:00 horas </li>
                    <li> 12:00 horas </li>
                    <li> 14:00 horas </li>
                    <li> 16:00 horas </li>
                    <li> 18:00 horas </li>
                    <li> 20:00 horas </li>  
                    <li> 22:00 horas </li>
                    <li> (servicio continuo cuando se llena el bus)</li>    
                    </ul>
                    <h4>Domingo 25 (bajando Puesco-Curarrehue) ($1.500 CLP)</h4>
                    <ul>
                    <li>10:00 horas - 19:00 horas   </li>    
              
            </ul>

            <h3>ESTACIONAMENTO</h3>
            <ul>
                <li>
                        Se puede estacionar paralelo a la ruta a los costados del Camino Internacional 199
                </li>
                <li>
                        Por favor dejen libres las entradas de los campos de los vecinos
                </li> 
                <li>
                        Se prohibe el ingreso de vehiculos al espacio del festival
                </li>
                <li>
                        PuescoFest no nos hacemos responsables por perdidas ocasionadas en los vehiculos asi como danos sufridos en los mismos por robo, accidente o eventos de fuerza mayor
                </li> 
            </ul>
            
            <h3>Google Map</h3>
            * Para ver la ubicación de PuescoFest en Google Maps, haz click aquí. <a target="_blank" href="https://goo.gl/maps/t3S2deBACom">
                    <img class="img-responsive center-block" src="/images/google-maps-logo-small.png" alt="Google Map PuescoFest"> 
                </a>  
        </div>
    </div>
</div>