<div class="container">
    <div class="row">
            <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">

            <h1 class="main-titleb">Kayak</h1>
            <p>
                    El río Trankura en Puesco es conocido en el mundo del deporte como uno de los mejores destinos para la practica de kayak de aguas blancas en Chile y el mundo. En solamente 10 km el río cuenta con dos tramos “extremos”, dos tramos de nivel intermedio y un tramo suave para principiantes. Su combinación de calidad de aguas, cultura y paisaje atrae kayakistas desde cada rincón del mundo durante los deshielos de la primavera. PuescoFest nace del esfuerzo de kayakistas que buscaron una manera de defender este rio y todos sus afluentes de la amenaza de propuestos proyectos hidroeléctricos. Las competencias de kayak ofrecen al publico la oportunidad de conectar con el rio Trankura en su máxima expresión de fuerza y belleza. Las competencias tienen fácil acceso para los espectadores de acercarse y disfrutar de la acción.
            </p>
            <h1 class="sub-titleb text-center">Expert/Pro “Tres Troncos SuperSlalom”</h1>

            <div class="col-sm-6">

            {{ with .Resources.Match "tres-troncos*" }}
                    {{ range . }}       
                        {{ $imageResized := (.Fill "550x366") }} 
                        <img  class="img-responsive center-block" src="{{ $imageResized.RelPermalink }}" alt=" image {{.Name  }}"/> 
                        <br>
                        <br>
                    {{end}} 
            {{ end }}  


            </div>
            <div class="col-sm-6 nopadding">
                <p><strong>Fecha:</strong> Viernes 23 de Noviembre.</p>
                <p>  
                <strong>Inscripciones:</strong> Asistir a un Taller de Seguridad obligatorio, que se realizará a las 16:00 horas del Jueves 22 de Noviembre en Escenario Luna Küyen.
                </p>
                <p>
                    El lugar de nacimiento del río Trankurra, Tres Troncos es famoso por su combinación de fuerza, pendiente y movimientos técnicos.  Fue considerado como uno de los campos más difíciles del White Water Grand Prix mundial de 2012.
                </p>
                <p>
                    La sección más conocida de Puesco Alto es el escenario para los mejores kayakistas del mundo en esta carrera de slalom extrema a nivel internacional.
                </p>
                <p>
                    Este será un evento individual cronometrado donde los participantes estarán obligados a “hacer puertas” mientras navegan aguas blancas de Clase V lo más rápido posible.
                </p>
                <p>
                    Esta competencia es la calificación para participar en “Puesco Salvaje”.
                </p>
            </div>
            </div>

                     <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="sub-titleb text-center">Puesco Salvaje</h1>

            <div class="col-sm-6">
                <p><strong>Fecha:</strong> Sabado 25 de Noviembre.</p>
                <p>  
                <strong>Inscripciones:</strong> Asistir a un Taller de Seguridad obligatorio, que se realizará a las 16:00 horas del Jueves 22 de Noviembre en Escenario Luna Küyen.
                </p>
                <p>
                    Tradicional descenso del mítico Puesco Alto. Se puede competir en forma individual o por parejas, gana quien llega primero a la meta en su categoría.                </p>
               
            </div>

            <div class="col-sm-6">
                <img class="img-responsive center-block" src="/images/salvaje-700.jpg" alt="rio salvaje">
                <br>

            </div>
            <br>
            {{ with .Resources.Match "kayak*" }}
            {{ range . }}       
                {{ $imageResized := (.Fill "720x450") }} 
                <img  class="img-responsive center-block" src="{{ $imageResized.RelPermalink }}" alt=" image {{.Name  }}"/> 
                <br>
                <br>
            {{end}} 
    {{ end }}  

            </div>
     </div>
</div>