<div class="container">
    <div class="row">
         
            <h1 class="main-title text-center">Kayak</h1>
            <p>
                El rio Trankura en Puesco esta conocido en el mundo del deporte como uno de los mejores destinos para la practica de kayak en Chile y en Sudamerica.  En solamente 10 km el rio cuenta con dos tramos “extremos”, dos tramos de nivel intermedio y un tramo suave para principiantes.   Su combinacion de calidad de aguas, cultura y paisaje atrae kayakistas desde cada rincon del mundo durante los deshielos de la primavera.  PuescoFest nace del esfuerzo de kayakistas que buscaron una manera de defender este rio y todos sus afluentes de la amenaza de propuestos proyectos hidroelectricos.  Las competencias de kayak ofrecen al publico la oportunidad de conectar con el rio Trankura en su maxima expresion de fuerza y belleza.  Cada competencia tiene facil acceso para los epectadores de acercarse y disfrutar de la accion.

            </p>
     </div>
</div>