<nav class="navbar navbar-default ">
    <div class="container smallernav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand mobile" href="/">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a href=" https://www.facebook.com/puescofest/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/puescofest/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav " id="main-nav-wrap">
                <a class="navbar-brand" href="/"></a>
                <li class="current"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#about" class="smoothscroll">Sobre</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#lineUp" class="smoothscroll">Line Up</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#kayak" class="smoothscroll">Kayak</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#routes" class="smoothscroll">Como Llegar</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#camping" class="smoothscroll">Camping</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  href="#buen-vivir" class="smoothscroll">Buen Vivir</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  href="#tickets" class="smoothscroll">Tickets</a></li>
                <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#contacto" class="smoothscroll">Contacto</a></li>             
            </ul>
            <ul class="nav navbar-nav navbar-right mobile-nav" >                
                <li>
                    <a href=" https://www.facebook.com/Nomadefestival/" target="_blank"> <i class="fa fa-facebook-official fa-2" aria-hidden="true"></i></a>
                </li>
                <li> 
                    <a href="https://www.instagram.com/festivalnomade/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>