<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-titleb">Que Traer</h1>
           <ul>
                <li>LINTERNA</li>

                <li>EFECTIVO </li>
                
                <li>PROTECCION SOLAR</li>
                
                <li>ABRIGO Y PROTECCION PARA LA LLUVIA (CAMBIO DE ROPA/ZAPATOS)</li>
                
                <li>CAMBIO DE ROPA/ZAPATOS</li>
                
                <li>TU KIT PERSONAL: VASO, PLATOS, CUBIERTOS</li>
                
                <li>BOTELLA DE AGUA REUTILIZABLE</li>
                
                <li>PAPEL HIGIENICO</li>
                
                <li>CAMBIO DE ROPA/ZAPATOS</li>
                
                <li>COSINILLA/GAS CAMPING</li>
                
                <li>BUENAS INTENCIONES</li>
            </ul>

            <h4 class="sub-titleb">Muy importante</h4>
             <ul> 
                 
                <li> <strong>
                        QUEDA ESTRICTAMENTE PROHIBIDO EL INGRESO DE ALCOHOL DROGAS Y MASCOTAS AL RECINTO DEL FESTIVAL

                </strong>

                </li>
             <li>
                    PUESCO FEST PROMUEVE UN AMBIENTE FAMILIAR Y VALORA LA BUENA CONVIVENCIA
             </li>
            </ul>

        

      

        {{ partial "imagefill.html" (dict "aff" "0" "isize" "705x341" "rez" ($.Page.Resources.Match ("que*")) ) }} <br>


        </div>
    </div>
</div>