<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
            <h1 class="main-titleb">Tickets</h1>

            <h2 class="sub-titleb">VALOR</h2> 
<p>
    Ticket Full Access: De Jueves a Domingo con camping en PuescoFest / $15.000 Preventa 
</p>
<ul>
    <li>
        Jueves: Ingreso desde las 12.30pm con Ticket Full Access / $15.000 Preventa

    </li>
    <li>
        Viernes: Ticket Diario /$10.000 Preventa

    </li>
    <li>
        Sábado: Ticket Diario / $10.000 Preventa

    </li>
    <li>
        Domingo: Ticket Diario disponible solo en puerta / $5.000
 
    </li>
</ul>


            <h2 class="sub-titleb"> Venta Online </h2>
            <ul>
                <li>
                    <a href="https://www.eventrid.cl/eventos/puescofest/rioslibres" target="_blank">Eventrid.cl (puescofest/rioslibres)</a>
                </li>
            </ul>

            <h2 class="sub-titleb">Puntos De Venta</h4>
             <h3> Cajón del Maipo</h3>
             <ul>
                <li>             
                Cerveza Jauría @cerveceria_jauria   <a href="https://goo.gl/maps/6QF78AsoNTK2" target="_blank"> <img class="pin-map" src="/images/pin-maps.png" alt="Google Pin"> Bernardo O'Higgins 18, San José de Maipo</a>
                </li>
             </ul>
             <h3> Temuco </h3>
             <ul>
                <li> Espacio Vital @espaciovital.  <a href="https://goo.gl/maps/L5AAdi5ouUG2" target="_blank"> <img class="pin-map" src="/images/pin-maps.png" alt="Google Pin">  Gral Carrera 288, Temuco</a>
                </li>
                <li> Ruibarbo Bistro Café @caferuibarbo  <a href="https://goo.gl/maps/uBKtinU86wJ2" target="_blank"> <img class="pin-map" src="/images/pin-maps.png" alt="Google Pin"> Arturo Prat 20, Temuco</a>
                </li>
             </ul>
             <h3> Valdivia </h3>
             <ul>
                <li>
                   Sensorial - Tienda de Té y Café @sensorial.cl <a href="https://goo.gl/maps/JFYP1tv2G112" target="_blank"> <img class="pin-map" src="/images/pin-maps.png" alt="Google Pin">  Pérez Rosales 560 D, Valdivia</a>
                </li>
             </ul>
             <h3> Pucón </h3>
             <ul>
                <li>
                Jamm Coffee @jammpucon <a href="https://goo.gl/maps/aaEsUn1R68u" target="_blank"><img class="pin-map" src="/images/pin-maps.png" alt="Google Pin">  Brasil 445, Pucon</a> </li>
            </ul>
            <h3> Curarrehue </h3>
            <ul>
                <li>
                Ciclo-Turismo El Pewen @el_pewen <a href="https://goo.gl/maps/8s7ULejQZa92" target="_blank"><img class="pin-map" src="/images/pin-maps.png" alt="Google Pin">  Curarrehue Centro</a>
                </li>
             </ul>
             <h3> Villarrica </h3>
             <ul>
                <li> Ebano Restaurante
                    <a href="https://goo.gl/maps/mLUvdWw6stw" target="_blank"><img class="pin-map" src="/images/pin-maps.png" alt="Google Pin"> Francisco Bilbao 613 - Local 7, Villarrica</a></li>
             </ul>
             

             
        </div>
    </div>
</div>