{{ define "main" }}
<section class="first-section" id="init">
</section>
<!-- Nav Bar -->
<section class="second-section" id="video">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand mobile" href="#">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" >
                    <li ><a href="/en/"> English </a></li>
                    <li class="line"><a href="" >/</a></li>
                    <li ><a href="/es/"> Español </a></li>
                    <li>
                        <a href=" https://www.facebook.com/Nomadefestival/" target="_blank" class="fb_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.soundcloud.com/festivalnomade" target="_blank" class="sc_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/festivalnomade" target="_blank" class="vi_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/festivalnomade/" target="_blank" class="ins_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://nomaderecords.bandcamp.com/" target="_blank" class="band_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.everfest.com/e/festival-nomade-purranque-chile" target="_blank" class="ever_icon icon"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav especial-nav main-nav-wrap" id="main-nav-wrap">
                    <a class="navbar-brand" href="#"></a>
                    <li class="current"><a href="#about" class="smoothscroll">Nosotros</a></li>
                    <li><a href="#practices" class="smoothscroll">Practicas</a></li>
                    <li><a href="#lineUp" class="smoothscroll">Line Up</a></li>
                    <li><a href="#routes" class="smoothscroll">Ruta</a></li>
                    <li><a href="#ticket" class="smoothscroll">Tickets</a></li>
                    <li><a href="#things" class="smoothscroll">Recomendaciones</a></li>
                    <li><a href="#family" class="smoothscroll">Nuestra familia</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right mobile-nav" >
                    <li ><a href="/en/"> English </a></li>
                    <li class="line"><a href="" >/</a></li>
                    <li ><a href="/es/"> Español </a></li>
                    <li>
                        <a href=" https://www.facebook.com/Nomadefestival/" target="_blank" class="fb_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.soundcloud.com/festivalnomade" target="_blank" class="sc_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/festivalnomade" target="_blank" class="vi_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/festivalnomade/" target="_blank" class="ins_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://nomaderecords.bandcamp.com/" target="_blank" class="band_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.everfest.com/e/festival-nomade-purranque-chile" target="_blank" class="ever_icon icon"></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FNomadefestival%2Fvideos%2F1949282105318061%2F&amp;show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
                <!-- <iframe  src="https://www.youtube.com/embed/wMNYmiXg_Z0" frameborder="0" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>
</section>

<section class="about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-md-offset-1 col-sm-offset-0 col-lg-5 col-lg-offset-2">
                <h1 class="main-title">ABOUT</h1>
                <p><span>Festival Nómade </span>  is an experience of exchange and reconnection that takes place on the coast in the 10th Region in Southern Chile <span> February 6 - 12, 2018 </span>.  It’s a multicultural gathering that promotes a simple lifestyle in terms of tangible material goods, and at the same time, presents a journey rich in sounds, trades, and cultures.</p>
                <p>During its first days the festival takes shape as a platform for   <span>learning</span>,
                giving space to practices from multiple disciplines and allowing for a more intimate exploration between all those participating in the experience. On the fourth day the celebration begins. It’s one anchored in a deep musical journey that gives life to a cultural symbiosis between ancient and contemporary sounds.</p>
                <p>At  <span>Festival Nómade </span>  an environment is co-created in order to experience a new paradigm - one of togetherness and collaboration, where there are no spectators, but where everyone is an active member, open to exchange and to forming a community anchored in respect for land, culture, and diversity. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="responsive_img" src="/assets/ABOUT_IMG-8d317ed7a445416d4bff4aeda2cd2f39913cd198434d172ae177cb6108032043.png" alt="About img 8d317ed7a445416d4bff4aeda2cd2f39913cd198434d172ae177cb6108032043">
            </div>
        </div>
    </div>
</section>

<section class="practices-section" id="practices">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
                <h1 class="main-title">PRÁCTICAS Y CONOCIMIENTOS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-offset-0 col-lg-3 col-lg-offset-2 ">
                <p> A Festival Nómade asisten facilitadores de procesos que guían prácticas de distintos oficios y disciplinas. Estas prácticas fomentan un entorno cercano e imparcial, donde nos identificamos como comunidad, creamos vínculos, intercambiamos visiones de mundo y nos conectamos desde diferentes ramas, adquiriendo simultáneamente nuevos conocimientos tangibles e intangibles.</p>
                <p> Cuando ya nos conocemos a nosotros y a nuestro entorno… viene la celebración. Algunas de las talleres son:</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h3>Actividades Holisticas </h3>
                <p>Text:  -acroyoga, vinyasa, kundalini, meditación.</p>
                <h3>Actividades Outdoor </h3>
                <p>Surfing  - Hiking - Slackline</p>
                <h3>Sustentabilidad</h3>
                <p>Taller de ladrillo - Bosque Comestible, mas...</p>
                <h3>Talleres/Charlas/Conversatorio</h3>
                <p>La cultura del decrecimiento, Cuenta cuentos y mas...</p>
                <p class="min">*Todas estas prácticas y charlas son previa inscripción en el Punto de Informaciones, ubicado dentro de la Aldea Nómade. Casi todas las actividades son gratuitas y con cupos limitados. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="responsive_img" src="/assets/PRACTICES_IMG-aa6b1a8c7c28c306c60bdcfad1d57d1514e21157694234cd9ed3d5574404adae.png" alt="Practices img aa6b1a8c7c28c306c60bdcfad1d57d1514e21157694234cd9ed3d5574404adae">
            </div>
        </div>
    </div>
</section> 
 
<section class="lineUp-section" id="lineUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <h1 class="main-title">Line Up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <p>Sobre el escenario de Festival Nómade convergen artistas con una búsqueda anclada al rescate de las raíces sonoras de América Latina y el mundo. Folcloristas y productores de música electrónica se reúnen a compartir parte de sus investigaciones, generando colaboraciones espontáneas y<span>   construyendo un puente que conecta la esencia sonora </span>  de los pueblos originarios con la escena bailable del mundo entero. El line up concreto de la versión 2018, estará disponible pronto.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <!-- <h2>TO BE ANNOUNCED SOON</h2> -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line1" class="open-popup-link">
                            <div class="sphere">
                                <h4>Andi Andean</h4>
                                <img src="/assets/landing_febrero/line-up/Andi_Andean-f5e8104cd9c94a3354396f71b9b2bc55682b512427a0a44bbc5c462ba2bf635e.jpg" alt="Andi andean f5e8104cd9c94a3354396f71b9b2bc55682b512427a0a44bbc5c462ba2bf635e">
                            </div>
                        </a>
                    </div>
                   <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line2" class="open-popup-link">
                            <div class="sphere">
                                <h4>Barrio Lindo</h4>
                                <img src="/assets/landing_febrero/line-up/Barrio_lindo-cf44788c3e39676ea8c6c632414d4d50d7675b429440ddfe307585d4e6725ffa.jpg" alt="Barrio lindo cf44788c3e39676ea8c6c632414d4d50d7675b429440ddfe307585d4e6725ffa">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line21" class="open-popup-link">
                            <div class="sphere">
                                <h4>Beatriz Pichimalen</h4>
                                <img src="/assets/landing_febrero/line-up/Beatriz-Pichimalen-9be61d30fbd54fc7eddca68cfe6eb10bda8052ee2dbf43460704926d074770f5.jpg" alt="Beatriz pichimalen 9be61d30fbd54fc7eddca68cfe6eb10bda8052ee2dbf43460704926d074770f5">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line3" class="open-popup-link">
                            <div class="sphere">
                                <h4>Biomigrant</h4>
                                <img src="/assets/landing_febrero/line-up/Biomigrant-a74350c3f87e1bb558ee2e0f3070633332de2b4066c43b75e44e775bbb39f75b.jpg" alt="Biomigrant a74350c3f87e1bb558ee2e0f3070633332de2b4066c43b75e44e775bbb39f75b">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line4" class="open-popup-link">
                            <div class="sphere">
                                <h4>Carrot Green</h4>
                                <img src="/assets/landing_febrero/line-up/carrot_press-f8052ebc4ed808cec904fe5c129a52dc8f511d4d8199903c1d541a5bad66f45b.jpg" alt="Carrot press f8052ebc4ed808cec904fe5c129a52dc8f511d4d8199903c1d541a5bad66f45b">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line22" class="open-popup-link">
                            <div class="sphere">
                                <h4>Derrok</h4>
                                <img src="/assets/landing_febrero/line-up/derrok-20990f6565695be5ba947c665041eae2fca7af0c631abbc4d65887440ca2b926.jpg" alt="Derrok 20990f6565695be5ba947c665041eae2fca7af0c631abbc4d65887440ca2b926">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line15" class="open-popup-link">
                            <div class="sphere">
                                <h4>Fanfara Electrónica </h4>
                                <img src="/assets/landing_febrero/line-up/fanfara-electronica-45004b325e856a63990535af4db2218e026852cac9668f732e6a72a16029d8ab.jpg" alt="Fanfara electronica 45004b325e856a63990535af4db2218e026852cac9668f732e6a72a16029d8ab">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line16" class="open-popup-link">
                            <div class="sphere">
                                <h4>Feathered Sun </h4>
                                <img src="/assets/landing_febrero/line-up/Feathered-Sun-7cec96b343eedb47f4df56e18c124e1befba00cd9b170b9551f5d3c8bd0a953f.jpg" alt="Feathered sun 7cec96b343eedb47f4df56e18c124e1befba00cd9b170b9551f5d3c8bd0a953f">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line5" class="open-popup-link">
                            <div class="sphere">
                                <h4>Gama</h4>
                                <img src="/assets/landing_febrero/line-up/gama-2-30742861dd94a61120535d9f1f32c9f6290b00fd2c7c85495da5439a1f2ea2e2.png" alt="Gama 2 30742861dd94a61120535d9f1f32c9f6290b00fd2c7c85495da5439a1f2ea2e2">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line20" class="open-popup-link">
                            <div class="sphere">
                                <h4>Ground</h4>
                                <img src="/assets/landing_febrero/line-up/Ground-3057294a8cadd732c86cfd41917ef3f186bcd083b08119db787fa80cbaafefe4.jpg" alt="Ground 3057294a8cadd732c86cfd41917ef3f186bcd083b08119db787fa80cbaafefe4">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line14" class="open-popup-link">
                            <div class="sphere">
                                <h4>Huaira</h4>
                                <img src="/assets/landing_febrero/line-up/Huaira-4aeec00bb2146ad2bd861eecc62e111b3b646eaf5c09291697d9511889c8aa91.jpg" alt="Huaira 4aeec00bb2146ad2bd861eecc62e111b3b646eaf5c09291697d9511889c8aa91">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line6" class="open-popup-link">
                            <div class="sphere">
                                <h4>Largartijeando</h4>
                                <img src="/assets/landing_febrero/line-up/Lagartijeando-d35593ab08fb1aaeab68d53b96eccbf07cf6408a4d48c55ced7b304ae8bb42df.jpg" alt="Lagartijeando d35593ab08fb1aaeab68d53b96eccbf07cf6408a4d48c55ced7b304ae8bb42df">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line11" class="open-popup-link">
                            <div class="sphere">
                                <h4>Martha van Straaten</h4>
                                <img src="/assets/landing_febrero/line-up/martha-7651fc85da9368c5029072643b1857be56905cc71bfaae0fed9e08ab6a6fc8d5.jpg" alt="Martha 7651fc85da9368c5029072643b1857be56905cc71bfaae0fed9e08ab6a6fc8d5">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line13" class="open-popup-link">
                            <div class="sphere">
                                <h4>Matanza</h4>
                                <img src="/assets/landing_febrero/line-up/matanza-aec352d4ae0a1ad948fda7aefa8f740acef51c657172136febf9880e45b9f83e.jpg" alt="Matanza aec352d4ae0a1ad948fda7aefa8f740acef51c657172136febf9880e45b9f83e">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line12" class="open-popup-link">
                            <div class="sphere">
                                <h4>M Rux</h4>
                                <img src="/assets/landing_febrero/line-up/m-rux-e21cd3d9ccf6a66450cadae54e192ddd5033949a69c1db89442d5fa7d2722bf8.jpg" alt="M rux e21cd3d9ccf6a66450cadae54e192ddd5033949a69c1db89442d5fa7d2722bf8">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line18" class="open-popup-link">
                            <div class="sphere">
                                <h4>Nochi </h4>
                                <img src="/assets/landing_febrero/line-up/Nochi-183d001b78da7a7e2bdb9698847abb2c9c757937fc2ad9642ae7838a5c309bec.jpg" alt="Nochi 183d001b78da7a7e2bdb9698847abb2c9c757937fc2ad9642ae7838a5c309bec">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line19" class="open-popup-link">
                            <div class="sphere">
                                <h4>Pasaje Universo</h4>
                                <img src="/assets/landing_febrero/line-up/Pasaje-Universo-da14cf9e88774b75eeefe56a9abaf0d5111813954813ee1c60051594edd2ea0b.jpg" alt="Pasaje universo da14cf9e88774b75eeefe56a9abaf0d5111813954813ee1c60051594edd2ea0b">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line7" class="open-popup-link">
                            <div class="sphere">
                                <h4>Peter Power</h4>
                                <img src="/assets/landing_febrero/line-up/Peter-Power-7507aa736e2c489fd52411c10928d0a9d408666a6abbde531641ae89a5de3273.jpg" alt="Peter power 7507aa736e2c489fd52411c10928d0a9d408666a6abbde531641ae89a5de3273">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <a href="#line17" class="open-popup-link">
                            <div class="sphere">
                                <h4>Rico Loop </h4>
                                <img src="/assets/landing_febrero/line-up/Rico-Loop-d9eb6ff9abe9364004a8d83d5ab13b114ab7335932e1b97005e16b33c697f5b6.jpg" alt="Rico loop d9eb6ff9abe9364004a8d83d5ab13b114ab7335932e1b97005e16b33c697f5b6">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="#line9" class="open-popup-link">
                            <div class="sphere">
                                <h4>SidiRum</h4>
                                <img src="/assets/landing_febrero/line-up/Sidirum-63b0fb9b9aff6e8a7d6bfb7de4f23ebf10d121ac5f1cbbadfba6070562913dfe.jpg" alt="Sidirum 63b0fb9b9aff6e8a7d6bfb7de4f23ebf10d121ac5f1cbbadfba6070562913dfe">
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
  

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
{{ end }}