{{ define "main" }}
<section class="first-section" id="init">
</section>
<!-- Nav Bar -->
<section class="second-section" id="video">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand mobile" href="#">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" >
                    <li ><a href="/en/"> English </a></li>
                    <li class="line"><a href="" >/</a></li>
                    <li ><a href="/es/"> Español </a></li>
                    <li>
                        <a href=" https://www.facebook.com/Nomadefestival/" target="_blank" class="fb_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.soundcloud.com/festivalnomade" target="_blank" class="sc_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/festivalnomade" target="_blank" class="vi_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/festivalnomade/" target="_blank" class="ins_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://nomaderecords.bandcamp.com/" target="_blank" class="band_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.everfest.com/e/festival-nomade-purranque-chile" target="_blank" class="ever_icon icon"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav especial-nav main-nav-wrap" id="main-nav-wrap">
                    <a class="navbar-brand" href="#"></a>
                    <li class="current"><a href="#about" class="smoothscroll">Sobre</a></li>
                    <li><a href="#practices" class="smoothscroll">Programa</a></li>
                    <li><a href="#lineUp" class="smoothscroll">Line Up</a></li>
                    <li><a href="#kayak" class="smoothscroll">Kayak</a></li>
                    <li><a href="#routes" class="smoothscroll">Como Llegar</a></li>
                    <li><a href="#camping" class="smoothscroll">Camping</a></li>
                    <li><a href="#ticket" class="smoothscroll">Tickets</a></li>
                    <li><a href="#buenvivir" class="smoothscroll">Buen Vivir</a></li>
                    <li><a href="#contacto" class="smoothscroll">Contacto</a></li>

                   
                </ul>
                <ul class="nav navbar-nav navbar-right mobile-nav" >
                    <li ><a href="/en/"> English </a></li>
                    <li class="line"><a href="" >/</a></li>
                    <li ><a href="/es/"> Español </a></li>
                    <li>
                        <a href=" https://www.facebook.com/Nomadefestival/" target="_blank" class="fb_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.soundcloud.com/festivalnomade" target="_blank" class="sc_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/festivalnomade" target="_blank" class="vi_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/festivalnomade/" target="_blank" class="ins_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://nomaderecords.bandcamp.com/" target="_blank" class="band_icon icon"></a>
                    </li>
                    <li>
                        <a href="https://www.everfest.com/e/festival-nomade-purranque-chile" target="_blank" class="ever_icon icon"></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FNomadefestival%2Fvideos%2F1949282105318061%2F&amp;show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
                <!-- <iframe  src="https://www.youtube.com/embed/wMNYmiXg_Z0" frameborder="0" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>
</section>

<section class="about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-md-offset-1 col-sm-offset-0 col-lg-5 col-lg-offset-2">
                <h1 class="main-title">Nosotros</h1>
                <p><span>Festival Nómade </span>  is an experience of exchange and reconnection that takes place on the coast in the 10th Region in Southern Chile <span> February 6 - 12, 2018 </span>.  It’s a multicultural gathering that promotes a simple lifestyle in terms of tangible material goods, and at the same time, presents a journey rich in sounds, trades, and cultures.</p>
                <p>During its first days the festival takes shape as a platform for   <span>learning</span>,
                giving space to practices from multiple disciplines and allowing for a more intimate exploration between all those participating in the experience. On the fourth day the celebration begins. It’s one anchored in a deep musical journey that gives life to a cultural symbiosis between ancient and contemporary sounds.</p>
                <p>At  <span>Festival Nómade </span>  an environment is co-created in order to experience a new paradigm - one of togetherness and collaboration, where there are no spectators, but where everyone is an active member, open to exchange and to forming a community anchored in respect for land, culture, and diversity. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="responsive_img" src="/assets/ABOUT_IMG-8d317ed7a445416d4bff4aeda2cd2f39913cd198434d172ae177cb6108032043.png" alt="About img 8d317ed7a445416d4bff4aeda2cd2f39913cd198434d172ae177cb6108032043">
            </div>
        </div>
    </div>
</section>

<section class="practices-section" id="practices">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 col-sm-offset-0 col-lg-8 col-lg-offset-2 ">
                <h1 class="main-title">Programa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-offset-0 col-lg-3 col-lg-offset-2 ">
                Viene pronto
             </div>
            <div class="col-md-3 col-sm-12">
                <h3> mas info </h3>


             </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="responsive_img" src="/assets/PRACTICES_IMG-aa6b1a8c7c28c306c60bdcfad1d57d1514e21157694234cd9ed3d5574404adae.png" alt="Practices img aa6b1a8c7c28c306c60bdcfad1d57d1514e21157694234cd9ed3d5574404adae">
            </div>
        </div>
    </div>
</section> 
 
<section class="lineUp-section" id="lineUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <h1 class="main-title">Line Up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-11 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <p>Sobre el escenario de Festival Nómade convergen artistas con una búsqueda anclada al rescate de las raíces sonoras de América Latina y el mundo. Folcloristas y productores de música electrónica se reúnen a compartir parte de sus investigaciones, generando colaboraciones espontáneas y<span>   construyendo un puente que conecta la esencia sonora </span>  de los pueblos originarios con la escena bailable del mundo entero. El line up concreto de la versión 2018, estará disponible pronto.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <!-- <h2>TO BE ANNOUNCED SOON</h2> -->
                <div class="row">
                    {{ $.Scratch.Set "count" 1 }}
                    {{ range first 8 (where .Site.RegularPages "Section" "in" (slice "artists")) }} 
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <a href='#lineup-{{$.Scratch.Get "count"}}' class="open-popup-link">
                                {{ $.Scratch.Add "count" 1 }}
                                <div class="sphere">
                                    <h4>{{.Title}}</h4>
                                    {{$title := .Title}}
                                    {{ $image := .Resources.GetMatch "band*.jpg" }}
                                        {{ with $image }}
                                        {{ $scaled := .Resize "1024x" }}
                                            <img class="img-fluid" src="{{ $scaled.Permalink }}" alt="{{$title }}">
                                        {{ end }}
                                </div>
                            </a>
                        </div>
                    {{ end}}
              

                </div>
            </div>
        </div>
    </div>
</section>
  
 <!--line up-->

 {{ $.Scratch.Set "count" 1 }}
    {{ range first 8 (where .Site.RegularPages "Section" "in" (slice "artists")) }}
        <div id='lineup-{{$.Scratch.Get "count"}}' class="mfp-hide line-up">
            {{ $.Scratch.Add "count" 1 }}
            <div class="cont">
                <div class="top">
                    <figure>
                        {{$title := .Title}}
                        {{ $image := .Resources.GetMatch "band*.jpg" }}
                        {{ with $image }}
                        {{ $scaled := .Resize "1024x" }}
                            <img class="img-fluid" src="{{ $scaled.Permalink }}" alt="{{$title }}">
                        {{ end }}
                    </figure>
                </div>
                <div class="bottom">
                    <h3>{{.Title}}</h3>
                    <p> {{.Content}} </p>
                    <!-- <div class="text-center">
                        <ul class="redes">
                            <li>
                                <a href="https://www.soundcloud.com/andiandean" target="_blank" class="sc_icon icon"></a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    {{ end}}

{{ end }}